<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Codepage="936" Id="*" Name="新setup" Language="2052" Version="1.0.0.0" Manufacturer="123" UpgradeCode="da01fbc1-53a1-4144-8aa3-40818557a01c">
    <Package Id='D318DD9F-D4C5-4DD7-AD7C-90CC53C67996' Keywords='Installer' Description="Hello 1.0 Installer描述"
      Comments='这是版权说明' Manufacturer='开发商'
      InstallerVersion='100' Languages='2052' Compressed='yes' SummaryCodepage='1252' />

    <MajorUpgrade DowngradeErrorMessage="已经安装 [ProductName] 的新版本。" />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' />
    <Property Id='DiskPrompt' Value="Acme's Foobar 1.0 Installation [1]" />

    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message='This setup requires the .NET Framework 4.0 or higher installed.'>
      <![CDATA[Installed OR (NETFRAMEWORK40FULL)]]>
    </Condition>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='APPLICATIONROOTDIRECTORY' Name='XYUNHUI' />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="My Application Name新"/>
      </Directory>
    </Directory>


    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id='MainExecutable' Guid='B8C9BB0A-DDDE-4292-870C-57E1A4768E10'>
        <File Id='MainEXE' Name='$(var.WpfTestApp.TargetFileName)' DiskId='1' Source='$(var.WpfTestApp.TargetPath)' KeyPath='yes' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="ABA0FF91-3EB6-4C64-9358-85DA2DF2EF4F">
        <Shortcut Id="ApplicationStartMenuShortcut"
             Name="My Application Name"
             Description="My Application Description"
             Target="$(var.WpfTestApp.TargetFileName)"
             WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall My Application"
                  Description="Uninstalls My Application卸载"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\MyApplicationName" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id='MainApplication' Title="Main Application 功能列表" Level='1'>
      <ComponentRef Id='MainExecutable' />
    </Feature>
  </Product>


</Wix>
