<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Bundle Name="云合景从" Version="1.0.11.0" Manufacturer="合肥新云晖科技有限公司" UpgradeCode="5225e662-57b9-4876-9cd1-d485f8394e3c" IconSourceFile="icon.ico" DisableModify="yes">
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost"   >
      <Payload SourceFile="$(var.CustomBA.TargetDir)CustomBA.dll" />
      <Payload SourceFile="$(var.CustomBA.TargetDir)BootstrapperCore.config" />
    </BootstrapperApplicationRef>

    <Chain>
      <PackageGroupRef Id="NetFx40Web"/>
      <MsiPackage SourceFile="$(var.Setup.TargetPath)">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
      </MsiPackage>
    </Chain>
  </Bundle>

  <Fragment>
    <WixVariable Id="WixMbaPrereqPackageId" Value="Netfx4Full" />
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetfxLicense.rtf" />
  </Fragment>

</Wix>
